.form__login
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  display flex 
  flex-direction: column

  &__label
    margin .7rem auto

  &__input
    border-radius 50px 
    border none
    padding .6rem 0 .6rem 1rem
    width 300px
    background rgba(255,255,255,0.2)
    color #dadada
    font-style italic
    font-size 1rem

    &:focus
      outline none

    &:focus::placeholder
      transition 1s
      color rgba(133, 133, 133, 0.263)
      padding-left 100%

    &::placeholder
      color #c5c5c5

  &__button
    margin 1rem auto
    background linear-gradient(180deg, #ffffff2e 0%, #c6c6c62e 100%);
    border none 
    border-radius 50px
    width 200px
    height: 40px
    cursor pointer
    color #dadada
    border-radius 30px 10px 30px 10px
    border 2px solid #b9d4ff
    font-size 1.1rem

  





